/* -- Variables -- */

$grey: #B8B7B2;
$lightGrey: #F0F0EC;
$altBlack: #202B33;
$black: #182026;
$lightGreen: #A1E8AF;
$lightPurple: #747C92;
$purple: #372772;

$largeFont: 2.3rem;
$smallFont: 13px;
$containerPadding: 12px 16px;

/* -- Global Styling -- */

textarea, input, button { outline: none; }

* {
  box-sizing: border-box;
  user-select: none;
  text-rendering: geometricPrecision;
}

html,
body {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
  color: $black;
  background-color: $black;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: $largeFont;
}

/* -- App Container -- */

#root {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}


/* -- Search Bar -- */

.search {
  width: 100%;
  height: 22.5%;
  background-color: $lightGrey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: $containerPadding;
}

.search__parameters {
  width: 40%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search__parameters > div {
  &:hover {
    cursor: pointer;
    cursor: hand;
  }
}

.search__parameter--click {
  color: $purple;
  font-weight: bold;
}

.search__input-container {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
}


.search__input-container > form {
  width: 100%;
  height: 100%;
}

.search__input-bar {
  width: 100%;
  height: 100%;
  border: none;
  background-color: $lightGrey;
  font-size: $largeFont;
  color: $lightPurple;
}

/* -- Status Bar -- */

.status {
  width: 100%;
  height: 5%;
  background-color: $grey;
  padding: 16px;
  // display: flex;
  // flex-direction: column;
  // padding: 15px;
}

/* -- Menu -- */

.menu {
  width: 100%;
  height: 77.5%;
  background-color: $black;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.menu__item {
  padding: 0 16px;
  min-height: min-content;
  width: 100%;
  height: 16%;
  display: flex;
  flex-direction: row;
  &:nth-child(even) {
    background-color: $altBlack;
  }
  div {
    color: $lightPurple;
  }
  div:hover {
    color: $lightGreen;
  }
}

.menu__item-description {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: $smallFont;
  font-weight: bold;
  div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $lightGrey;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
  }
}

