/* -- Variables -- */

$grey: #B8B7B2;
$lightGrey: #F0F0EC;
$blue: #3B86FF;
$black: #333;
$green: #4DB15E;
$purple: #B43BFF;
$orange: #ffb43b;
$red: #ff523b;

/* -- Global Styling -- */

* {
  box-sizing: border-box;
  user-select: none;
  text-rendering: geometricPrecision;
}

html,
body {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
  color: $black;
  background-color: $black;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 2.2rem;
}

/* -- App Container -- */

#root {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}


/* -- Search Bar -- */

.search {
  width: 100%;
  height: 25%;
  background-color: $lightGrey;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  padding: 10px;
}

.search__parameters {
  width: 40%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search__parameters > div {
  &:hover {
    cursor: pointer;
    cursor: hand;
  }
}

.search__parameter--click {
  color: $red;
}

.search__input {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
}
